<div class="tabContainer">
	<div class="tabContainerLeft">
		<div class="form-group">
			<label for="topic">Topic</label>
			<input type="text" class="form-control" id="topic">
		</div>
	
		<div class="form-group">
			<label for="subtopic">Sub-Topic</label>
			<input type="text" class="form-control" id="subtopic">
		</div>
	
		<div class="questionHeader">
			System Generated Questions
		</div>
		<div class="questionDiv">
			<div class="row" style="margin-bottom:10px">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					Question1
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
					Delete
				</div>
			</div>
			<div class="row" style="margin-bottom:10px">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					Question1
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
					Delete
				</div>
			</div>
			<div class="row" style="margin-bottom:10px">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					Question1
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
					Delete
				</div>
			</div>
			<div class="row" style="margin-bottom:10px">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					Question1
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
					Delete
				</div>
			</div><div class="row" style="margin-bottom:10px">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					Question1
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
					Delete
				</div>
			</div>
			<div class="row" style="margin-bottom:10px">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					Question1
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
					Delete
				</div>
			</div>
		</div>
		
		<div class="questionHeader">
			User Generated Questions
		</div>
		<div class="row" style="margin-bottom:5px;">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" id="topic">
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
				Delete
			</div>
		</div>
		<div class="row" style="margin-bottom:5px;">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" id="topic">
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
				Delete
			</div>
		</div>
		<div class="row" style="margin-bottom:5px;">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" id="topic">
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
				Delete
			</div>
		</div>
		<div class="row" style="margin-bottom:5px;">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" id="topic">
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
				Delete
			</div>
		</div>
		<div class="row" style="margin-bottom:5px;">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" id="topic">
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
				Delete
			</div>
		</div>
		<div class="row" style="margin-bottom:5px;">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" id="topic">
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
				Delete
			</div>
		</div>
		<div class="row" style="margin-bottom:5px;">
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<input type="text" class="form-control" id="topic">
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 hyperlink" style=" text-align: right;">
				Delete
			</div>
		</div>
	</div>
</div>